$text: #202340;
$background: #c3ffde;
$click: #80d9ff;
$accent1: #99ffaf;
$accent2: #005715;

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif, SansSerif;
}

body {
  background: lighten($background, 20%);
}

#title {
  background: $accent1;
}

form {
  width: 100%;
}

.inputGroup {
  border: 1px solid;
  border-radius: 5pt;
  background: $click;
}

.inputGroup > * {
  display: block;
  text-align: center;
  padding: 5pt;
  margin: auto;
}

input[type=checkbox] {
  cursor: pointer;
}

label {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 5pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
  border: 1px solid;
  border-radius: 5pt;
}

.floater {
  width: 80%;
  padding: 10pt;
  margin: 10pt auto;
  border: 1px solid;
  border-radius: 5pt;
  box-shadow: 2px 2px 3px;
  background: $background;
}

#selectors {
  display: flex;
  flex-direction: row;
  gap: 5pt;
  flex-wrap: wrap;
}

#selectors > * {
  flex-grow: 1;
  margin: auto;
}

#selectorPanel {
}

#restaurantList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5pt;
  padding: 5pt;
}

#restaurantList > * {
  flex-grow: 1;
  gap: 5pt;
  padding: 5pt;
}

.restaurant {
  margin: auto;
  border: 1px solid;
  border-radius: 3pt;
}